<div class="row">
    <div class="col-md-12">
        <h2>Posts</h2>
        <hr />
        {{#if error}}
            <h4 id="posts-error">{{error}}</h4>
        {{/if}}
        {{#if post}}
            {{#each post}}
            <p>Title: <strong>{{this.title}}</strong></p>
            {{/each}}
        {{/if}}
    </div>
</div>